:root {
    --height-navbar          : 3rem;
    --width-content          : 80%;

    --distance-navbar-top    : 0.5rem;

    --default-border-radius  : 1.3rem;
    --default-border-width   : 0.15rem;

    --height-control-element : 1.5rem;

    --navbar-font-size       : 1.8rem;
}